<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Monitor</title>
    <script>
      window.config = {
        API_URL: "<%= API_URL %>",
      };
    </script>
  </head>
  <body>
    <div class="container"></div>
  </body>
</html>
